# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Commonly used libraries used by Data Scientists
- Simple arithmetic expression

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. scikit-learn
4. matplotlab

| Data Science Tools   |
|-----------|
| 1. JupyterLab      |
| 2. RStudio      |
| 3. VS Code      |  |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [20]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [22]:
200/60

3.3333333333333335

## Author
Naveed Khokhar